.criminal {
  border: .15rem solid black;
  border-radius: 1rem;
  margin: 2rem;
  padding: .5rem;
  flex-basis: 20%;
}
.alibiContainer {
  border: 2px solid black;
  padding: .5rem;
  margin: .5rem;
}

.criminalsContainer {
    background-color: #bfc0c0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: whitesmoke 1px solid;
}