@import "./criminals.css";
@import "./officers.css";
@import "./notes.css";

.lists {
  display: flex;
}

.criminalsContainer {
  flex: 4;
}
.noteListContainer {
  flex: 1;
}

.filters {
    display: flex;
}

.filters__officer {
    background-color: #4f5d75;
    flex: 6;
    padding: 1rem;
    width: 100%;
    border: whitesmoke 1px solid;
}

.filters__crime {
    background-color: #4f5d75;
    flex: 6;
    padding: 1rem;
    width: 100%;
    border: whitesmoke 1px solid;
}