.noteFormContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ef8354;
  padding-bottom: 12.5px;
}
.note {
  background-color: #ef8354;
  border-radius: .5rem;
  padding: .5rem;
  margin: 1rem 0;
}
.noteListContainer {
  background-color: #2d3142;
  border: whitesmoke 1px solid;
}

.fields {
  border-radius: .25rem;
  margin: .325rem;
  width: 33%;
}